body{
    background-image: url(../final.img/02.jpg);
        background-attachment: fixed;
    
}
.ryou{
     text-align: center;
    background-color:blue;
    color:red;
}
div.menu{
    font-size: 0;
    width: 1000px;
}
span.menuitem{
    display: inline-block;
    vertical-align: top;
    width:200px;
    height:50px;
    background-color: beige;
    text-align: center;
    font-size:30px;
    font-family: "impact";
    border: 5px dotted  blue;
}
.text{
    text-align: center;
}
.getta-{
    text-align: center;
    background-color:gold;
    color:black;
}
.center{
    width:1250px;
    height: 1200px;
}